<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/backend/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/backend/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/backend/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/backend/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/backend/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/backend/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/backend/images/favicon.png" />


<!-- test git -->
<!-- test git -->

    <script src="/assets/backend/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/backend/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/backend/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/backend/js/off-canvas.js"></script>
    <script src="/assets/backend/js/hoverable-collapse.js"></script>
    <script src="/assets/backend/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/backend/js/dashboard.js"></script>
    <!-- End custom js for this page -->







    <div class="container-scroller">
        <app-header-admin></app-header-admin>
    <div class="container-fluid page-body-wrapper">
        <app-sidebar-admin></app-sidebar-admin>
    <div class="main-panel">
    <router-outlet></router-outlet>
    <app-footer-admin></app-footer-admin>
</div>
</div>
</div>
